.bivak_modal {
  width: 30vw;
  height: 50vh;
  background: white;
  transform: translateX(0vw);
  transition: transform 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  display: block;
  position: relative;
}

.bivak_modal_mobile{
     /* width: 30vw;
    height: 92vh;
    background: white;
    transform: translateX(0vw);
    transition: transform 1s ease-in-out;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px rgba(0,0,0,0.5);  */
    /* display: none; */

} 

@media screen and (max-width: 770px) {
  .bivak_modal {
    width: 100vw;
    height: auto;
    transition: none;
    display: none;
  }

  .bivak_modal_mobile_hide {
    width: 87vw;
    height: 18vh;
    top: 7vh;
    position: relative;
    background: rgb(224, 216, 216);
    transform: translateX(0vw);
    transition: transform 1s ease-in-out;
    overflow: hidden;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    display: block;
  }
  .title{
    font-size: 3rem;
    background-color: white;
    padding: .5rem .5rem .5rem 0rem ;
    width: fit-content;
    margin: 1rem 1rem 2rem 0rem;

  }
  .footer{

    background-color: white;
    padding: 0rem 1rem 0rem 1rem ;
    width: fit-content;
    margin: 1rem 1rem 4rem 0rem;
  }
  
  .bivak_modal_mobile_show {
    display: flex;

    padding: .5rem .5rem .5rem .5rem ;
    width: 87vw;
    height: 75vh;
    top: 13vh;
    position: relative;
    background: rgb(224, 216, 216);
    transform: translateX(0vw);
    transition: transform 1s ease-in-out;
    overflow: hidden;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    display: block;
  }
}
