.bivak_modal {
  width: 30vw;
  height: 74vh;
  background: rgb(224, 221, 221);
  transform: translateX(0vw);
  transition: transform 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  left: 0.2rem;
}

.bivak_modal_mobile{
     /* width: 30vw;
    height: 92vh;
    background: white;
    transform: translateX(0vw);
    transition: transform 1s ease-in-out;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px rgba(0,0,0,0.5);  */
    display: none; 
   

} 

.title{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  font-size: 3rem;
  background-color: white;
  padding: .5rem .5rem .5rem 0rem;
  width: 97%;
  margin: 0.5rem -0.5rem 0.5rem 0.3rem;
  align-items: center;
}

 .availableStyle {
  width: 10%;
  border: 1px solid black;
  border-radius: 50px;
  background-color: rgb(47, 155, 255);
  margin-right:5%;
}

.availableStyle:hover{

  position:relative;
  top:-5%;
  width:14%;
  height:auto;
  display:block;
  z-index:999;
}
.unavailableStyle {
  width: 10%;
  margin-right:5%;
  border: 1px solid black;
  border-radius: 50px;
}
.unavailableStyle:hover{

  position:relative;
  top:-5%;
  width:14%;
  height:auto;
  display:block;
  z-index:999;
}

@media screen and (max-width: 770px) {
  .bivak_modal {
    width: 100vw;
    height: auto;
    transition: none;
    display: none;
  }

  .bivak_modal_mobile_hide {
    width: 100vw;
    height: 40vh;
    top: 7vh;
    position: relative;
    background: rgb(224, 216, 216);
    transform: translateX(0vw);
    transition: transform 1s ease-in-out;
    overflow: hidden;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    display: block;
  }
  .title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 3rem;
    background-color: white;
    padding: .5rem .5rem .5rem 0rem;
    width: 97%;
    margin: 0.5rem -0.5rem 0.5rem 0.3rem;
    align-items: center;

  }

  .footer{
    padding: 0rem 1rem 0rem 1rem ;
    /* width: fit-content; */
    margin: 0.2rem 1rem 4rem 0rem;
    overflow-x: auto;
    background-color: gray;
  }
  
  .bivak_modal_mobile_show {
    display: flex;
    flex-direction: column;
    padding: .5rem .5rem .5rem .5rem ;
    width: 100vw;
    height: 80vh;
    top: 13vh;
    position: relative;
    background-color: rgb(224, 216, 216);
    transform: translateX(0vw);
    transition: transform 1s ease-in-out;
    overflow: hidden;
    z-index: 1;
    border: 1px solid black;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  }
}
.favoutite_btn{
  background-color: rgb(136, 40, 40);
  align-self: flex-end;

}
.star{
  width: 24%;
    float: right;
    position: relative;
    top: -22%;
    right: 8%;
    filter: saturate(0.1);
}

.star-clicked{
  width: 24%;
    float: right;
    position: relative;
    top: -22%;
    right: 8%;
    
  filter: saturate(1)
}