.sidepanel {
  position: absolute;
  z-index: 400;
}

.sidepanel_btn {
  height: 2rem;
  width: 2rem;
  float: left;
  position: absolute;
  top: 0;
  right: -2rem;
  background: rgb(199, 195, 195);
}

.location-button {
  background: transparent;
  border: transparent;
  margin: 0%;
  padding: 0%;
  margin-bottom: -1vh;
}

@media screen and (max-width: 770px) {
  .sidepanel {
    bottom: 0;
  }
}
