.sidepanel {
  position: absolute;
  z-index: 400;
  width: min-content;
}

.location-button {
  background: transparent;
  border: transparent;
  margin: 0%;
  padding: 0%;
  margin-bottom: -1vh;
}

.sidepanel_btn_unclicked {
  height: 4rem;
  width: 2rem;
  float: left;
  position: absolute;
  top: 0;
  left: 1rem;
  background: white;
  margin-left: 0.5rem;
}
.sidepanel_btn_clicked {
  height: 4rem;
  width: 2rem;
  float: left;
  position: absolute;
  top: 0;
  left: 32vw;
  background: white;
  margin-left:-1rem;
}

.sidepanel_btn {
  height: 2rem;
  width: 2rem;
  float: left;
  top: 0;
  right: -2rem;
  background: white;
}

.sidepanel_btn_2 {
  height: 2rem;
  width: 2rem;
  float: left;
  position: absolute;
  top: 0;
  right: -2rem;
  background: white;
  display: none;
  transform: rotate(-90deg);
  height: 3rem;
}

@media screen and (max-width: 770px) {
  .sidepanel {
    bottom: 0;
    height: fit-content;
  }
  .sidepanel_btn_unclicked {
    top: 92vh;
    right: -2rem;
    z-index: 3;
    display: none;
  }
  .sidepanel_btn_clicked {
    display: none;
  }

  .sidepanel_btn_2_unclicked {
    margin-bottom: 4rem;
    transform: rotate(-90deg);
    left: 50%;
    display: block;
    left: 50%;
    position: absolute;
    height: 4rem;
    border-bottom: none;
    background-color: white;
  }
  .sidepanel_btn_2_clicked {
    margin-bottom: 4rem;
    background-color: white;
    transform: rotate(-90deg);
    display: block;
    left: 50%;
    position: absolute;
    top: 2.5rem;
    height: 4rem;
    border-bottom: none;
  }
}
