.bivak_modal {
  width: 30vw;
  height: 92vh;
  background: white;
  transform: translateX(0vw);
  transition: transform 1s ease-in-out;
  overflow: hidden;
  z-index: 1;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  display: block;
  overflow: scroll;
}

@media screen and (max-width: 770px) {
  .bivak_modal {
    width: 100vw;
    height: auto;
    transition: none;
  }
}
