.icon {
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listItem {
  list-style: none;
  font-size: 1rem;
}

.checkbox {
  padding-left: 0;
  align-items: left;
}

body {
  color: #0e3958;
  background-color: #e6ecec;
}
h3 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
