/* For mobile phones: */
.leaflet-container {
  width: 100%;
  height: 500px;
}

.markerIcon {
  fill: #b52808;
  stroke: #b52808;
  opacity: 0.3;
  stroke-width: 0.5;
}
.errors{
  font-size: small;
  color: red;
}
.name{
  color:#0275d8;
  font-weight: bolder;
  font-size:larger;
}
.date{
  color:gray;
  font-size: x-small;
  font-weight: bolder;
}
.message{
  font-family:'Times New Roman', Times, serif;
  font-size: large;
}
.image-button{
  width: 20px;
  height: 10px;
}
